@page
@model eStoreClient.Pages.Product.EditModel
@{
}
<h1>Update Member</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="text-danger" id="validation-summary"></div>
            <div class="form-group">
                <label for="MemberId" class="control-label">Product Id</label>
                <input id="MemberId" name="MemberId" class="form-control" value="@Model.product.ProductId" readonly />
                <span class="text-danger" id="ProductId-validation"></span>
            </div>
            <div class="form-group">
                <label for="Email" class="control-label">Product CategoryId</label>
                <input id="Email" name="Email" class="form-control" value="@Model.product.CategoryId" />
                <span class="text-danger" id="Email-validation"></span>
            </div>
            <div class="form-group">
                <label for="CompanyName" class="control-label">Product Name</label>
                <input id="CompanyName" name="CompanyName" class="form-control" value="@Model.product.ProductName" />
                <span class="text-danger" id="CompanyName-validation"></span>
            </div>
            <div class="form-group">
                <label for="City" class="control-label">Weight</label>
                <input id="City" name="City" class="form-control" value="@Model.product.Weight" />
                <span class="text-danger" id="City-validation"></span>
            </div>
            <div class="form-group">
                <label for="Country" class="control-label">Unit Price</label>
                <input id="Country" name="Country" class="form-control" value="@Model.product.UnitPrice" />
                <span class="text-danger" id="Country-validation"></span>
            </div>
            <div class="form-group">
                <label for="Passsword" class="control-label">Unit In Stock</label>
                <input id="Passsword" name="Passsword" class="form-control" value="@Model.product.UnitInStock" />
                <span class="text-danger" id="Passsword-validation"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>